<div class="modal custom-modal fade" id="download_report" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Download Report</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
      </div>
      <div class="modal-body">
        <form action="#">
          <div class="mb-3">
            <label class="form-label">File Type <span class="text-danger">*</span></label>
            <select class="select">
              <option>Download as PDF</option>
              <option>Download as Excel</option>
            </select>
          </div>
          <div class="mb-3">
            <h5>Filters</h5>
          </div>
          <div class="mb-3">
            <label class="form-label">File Type <span class="text-danger">*</span></label>
            <select class="select">
              <option>All Fields</option>
              <option>Name</option>
              <option>Owner</option>
              <option>Location</option>
              <option>Phone</option>
              <option>Date Created</option>
            </select>
          </div>
          <div class="mb-3">
            <label class="form-label">Position<span class="text-danger">*</span></label>
            <select class="select">
              <option>All Position</option>
              <option>Installer</option>
              <option>Senior Manager</option>
              <option>Test Engineer</option>
              <option>UI /UX Designer</option>
            </select>
          </div>
          <div class="mb-3">
            <label class="form-label">Source<span class="text-danger">*</span></label>
            <select class="select">
              <option>All Source</option>
              <option>Google</option>
              <option>Campaigns</option>
              <option>Referrals</option>
              <option>Paid Social</option>
            </select>
          </div>
          <div class="mb-3">
            <label class="form-label">Select Year<span class="text-danger">*</span></label>
            <select class="select">
              <option>2023</option>
              <option>2022</option>
              <option>2021</option>
            </select>
          </div>
          <div class="col-lg-12 text-end modal-btn">
            <button type="submit" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Download Now</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
