{% load static %}

<!-- Add New Contracts -->
<div class="offcanvas offcanvas-end offcanvas-large" tabindex="-1" id="offcanvas_add">
  <div class="offcanvas-header border-bottom">
    <h4>Add New Contract</h4>
    <button type="button" class="btn-close custom-btn-close border p-1 me-0 d-flex align-items-center justify-content-center rounded-circle" data-bs-dismiss="offcanvas" aria-label="Close"><i class="ti ti-x"></i></button>
  </div>
  <div class="offcanvas-body">
    <form action="contracts">
      <div>
        <div class="row">
          <div class="col-md-12">
            <div class="mb-3">
              <label class="col-form-label">Subject <span class="text-danger">*</span></label>
              <input type="text" class="form-control" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-3">
              <label class="col-form-label">Start Date<span class="text-danger">*</span></label>
              <div class="icon-form">
                <span class="form-icon"><i class="ti ti-calendar-check"></i></span>
                <input type="text" class="form-control datetimepicker" placeholder="DD/MM/YY" />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-3">
              <label class="col-form-label">End Date<span class="text-danger">*</span></label>
              <div class="icon-form">
                <span class="form-icon"><i class="ti ti-calendar-check"></i></span>
                <input type="text" class="form-control datetimepicker" placeholder="DD/MM/YY" />
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="mb-3">
              <label class="col-form-label">Client <span class="text-danger">*</span></label>
              <select class="select">
                <option>Choose</option>
                <option>NovaWave LLC</option>
                <option>Silver Hawk</option>
                <option>Harbor View</option>
              </select>
            </div>
          </div>
          <div class="col-md-12">
            <div class="mb-3">
              <label class="col-form-label">Contract Type<span class="text-danger">*</span></label>
              <select class="select2">
                <option>Choose</option>
                <option>Contracts under Seal</option>
                <option>Implied Contracts</option>
                <option>Executory Contracts</option>
                <option>Voidable Contracts</option>
              </select>
            </div>
          </div>
          <div class="col-md-12">
            <div class="mb-3">
              <label class="col-form-label">Contract Value <span class="text-danger">*</span></label>
              <input type="text" class="form-control" />
            </div>
          </div>
          <div class="col-md-12">
            <div class="mb-3">
              <label class="col-form-label">Attachment <span class="text-danger">*</span></label>
              <div class="drag-attach">
                <input type="file" />
                <div class="img-upload">
                  <i class="ti ti-file-broken"></i>Upload File
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="mb-3">
              <label class="col-form-label">Description <span class="text-danger">*</span></label>
              <div class="summernote"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-end">
        <button type="button" data-bs-dismiss="offcanvas" class="btn btn-light me-2">Cancel</button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#create_success">Create</button>
      </div>
    </form>
  </div>
</div>
<!-- /Add New Contracts -->

<!-- Edit Contracts -->
<div class="offcanvas offcanvas-end offcanvas-large" tabindex="-1" id="offcanvas_edit">
  <div class="offcanvas-header border-bottom">
    <h4>Edit Contract</h4>
    <button type="button" class="btn-close custom-btn-close border p-1 me-0 d-flex align-items-center justify-content-center rounded-circle" data-bs-dismiss="offcanvas" aria-label="Close"><i class="ti ti-x"></i></button>
  </div>
  <div class="offcanvas-body">
    <form action="contracts">
      <div>
        <div class="row">
          <div class="col-md-12">
            <div class="mb-3">
              <label class="col-form-label">Subject <span class="text-danger">*</span></label>
              <input type="text" class="form-control" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-3">
              <label class="col-form-label">Start Date<span class="text-danger">*</span></label>
              <div class="icon-form">
                <span class="form-icon"><i class="ti ti-calendar-check"></i></span>
                <input type="text" class="form-control datetimepicker" placeholder="DD/MM/YY" />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-3">
              <label class="col-form-label">End Date<span class="text-danger">*</span></label>
              <div class="icon-form">
                <span class="form-icon"><i class="ti ti-calendar-check"></i></span>
                <input type="text" class="form-control datetimepicker" placeholder="DD/MM/YY" />
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="mb-3">
              <label class="col-form-label">Client <span class="text-danger">*</span></label>
              <select class="select">
                <option>Choose</option>
                <option>NovaWave LLC</option>
                <option>Silver Hawk</option>
                <option selected>Harbor View</option>
              </select>
            </div>
          </div>
          <div class="col-md-12">
            <div class="mb-3">
              <label class="col-form-label">Contract Type<span class="text-danger">*</span></label>
              <select class="select2">
                <option>Choose</option>
                <option selected>Contracts under Seal</option>
                <option>Implied Contracts</option>
                <option>Executory Contracts</option>
                <option>Voidable Contracts</option>
              </select>
            </div>
          </div>
          <div class="col-md-12">
            <div class="mb-3">
              <label class="col-form-label">Contract Value <span class="text-danger">*</span></label>
              <input type="text" class="form-control" value="$25,00,500" />
            </div>
          </div>
          <div class="col-md-12">
            <div class="mb-3">
              <label class="col-form-label">Attachment <span class="text-danger">*</span></label>
              <div class="drag-attach">
                <input type="file" />
                <div class="img-upload">
                  <i class="ti ti-file-broken"></i>Upload File
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="mb-3">
              <label class="col-form-label">Description <span class="text-danger">*</span></label>
              <div class="summernote"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-end">
        <button type="button" data-bs-dismiss="offcanvas" class="btn btn-light me-2">Cancel</button>
        <button type="button" class="btn btn-primary">Save Changes</button>
      </div>
    </form>
  </div>
</div>
<!-- /Edit Contracts -->

<!-- Delete Contracts -->
<div class="modal fade" id="delete_contracts" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="text-center">
          <div class="avatar avatar-xl bg-danger-light rounded-circle mb-3">
            <i class="ti ti-trash-x fs-36 text-danger"></i>
          </div>
          <h4 class="mb-2">Remove Contract?</h4>
          <p class="mb-0">
            Are you sure you want to remove <br /> contract you selected.
          </p>
          <div class="d-flex align-items-center justify-content-center mt-4">
            <a href="#" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
            <a href="contracts" class="btn btn-danger">Yes, Delete it</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Delete Contracts -->

<!-- Create Contracts -->
<div class="modal custom-modal fade" id="create_success" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header border-0 m-0 justify-content-end">
        <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="ti ti-x"></i></button>
      </div>
      <div class="modal-body">
        <div class="success-message text-center">
          <div class="success-popup-icon bg-light-blue">
            <i class="ti ti-atom-2"></i>
          </div>
          <h3>Contracts Created Successfully!!!</h3>
          <p>View the details of contracts, created</p>
          <div class="col-lg-12 text-center modal-btn">
            <a href="#" class="btn btn-light" data-bs-dismiss="modal">Cancel</a>
            <a href="#" class="btn btn-primary">View Details</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Create Contracts -->
