{% load static %}

<!-- Add New Deals -->
<div class="offcanvas offcanvas-end offcanvas-large" tabindex="-1" id="offcanvas_add">
    <div class="offcanvas-header border-bottom">
        <h5 class="fw-semibold">Add New Deals</h5>
        <button type="button"
            class="btn-close custom-btn-close border p-1 me-0 d-flex align-items-center justify-content-center rounded-circle"
            data-bs-dismiss="offcanvas" aria-label="Close">
            <i class="ti ti-x"></i>
        </button>
    </div>
    <div class="offcanvas-body">
        <form action="deals">
            <div class="row">
                <div class="col-md-12">
                    <div class="mb-3">
                        <label class="col-form-label">Deal Name <span class="text-danger">*</span></label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <div class="d-flex align-items-center justify-content-between">
                            <label class="col-form-label">Pipeine <span class="text-danger">*</span></label>
                            <a href="" class="label-add " data-bs-toggle="offcanvas"
                                data-bs-target="#offcanvas_pipeline">
                                <i class="ti ti-square-rounded-plus"></i>
                                Add New
                            </a>
                        </div>
                        <select class="select2">
                            <option>Choose</option>
                            <option>Sales</option>
                            <option>Marketing</option>
                            <option>Calls</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="col-form-label">Status <span class="text-danger">*</span></label>
                        <select class="select2">
                            <option>Choose</option>
                            <option>Open</option>
                            <option>Lost</option>
                            <option>Won</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="mb-3">
                        <label class="col-form-label">Deal Value<span class="text-danger"> *</span></label>
                        <input class="form-control" type="text">
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="mb-3">
                        <label class="col-form-label">Currency <span class="text-danger">*</span></label>
                        <select class="select">
                            <option>Choose</option>
                            <option>Dollar</option>
                            <option>Euro</option>
                            <option>Pound</option>
                            <option>Rupee</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="mb-3">
                        <label class="col-form-label">Period <span class="text-danger">*</span></label>
                        <select class="select">
                            <option>Choose</option>
                            <option>Days</option>
                            <option>Month</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="mb-3">
                        <label class="col-form-label">Period Value <span class="text-danger">*</span></label>
                        <input class="form-control" type="text">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="mb-3">
                        <label class="col-form-label">Contact <span class="text-danger">*</span></label>
                        <select class="multiple-img" multiple="multiple">
                            <option data-image="assets/img/profiles/avatar-19.jpg' %}" selected>Darlee Robertson
                            </option>
                            <option data-image="assets/img/profiles/avatar-20.jpg' %}">Sharon Roy</option>
                            <option data-image="assets/img/profiles/avatar-21.jpg' %}">Vaughan Lewis</option>
                            <option data-image="assets/img/profiles/avatar-23.jpg' %}">Jessica Louise</option>
                            <option data-image="assets/img/profiles/avatar-16.jpg' %}">Carol Thomas</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label">Project <span class="text-danger">*</span></label>
                        <select class="select" multiple="multiple">
                            <option selected>Devops Design</option>
                            <option selected>MargrateDesign</option>
                            <option selected>UI for Chat</option>
                            <option>Web Chat</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="col-form-label">Due Date <span class="text-danger">*</span></label>
                        <div class="icon-form">
                            <span class="form-icon"><i class="ti ti-calendar-check"></i></span>
                            <input type="text" class="form-control datetimepicker" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="col-form-label">Expected Closing Date <span
                                class="text-danger">*</span></label>
                        <div class="icon-form">
                            <span class="form-icon"><i class="ti ti-calendar-check"></i></span>
                            <input type="text" class="form-control datetimepicker" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="mb-3">
                        <label class="col-form-label">Assignee <span class="text-danger">*</span></label>
                        <select class="multiple-img" multiple="multiple">
                            <option data-image="assets/img/profiles/avatar-19.jpg' %}">Darlee Robertson</option>
                            <option data-image="assets/img/profiles/avatar-20.jpg' %}" selected>Sharon Roy</option>
                            <option data-image="assets/img/profiles/avatar-21.jpg' %}">Vaughan Lewis</option>
                            <option data-image="assets/img/profiles/avatar-23.jpg' %}">Jessica Louise</option>
                            <option data-image="assets/img/profiles/avatar-16.jpg' %}">Carol Thomas</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="col-form-label">Follow Up Date <span class="text-danger">*</span></label>
                        <div class="icon-form">
                            <span class="form-icon"><i class="ti ti-calendar-check"></i></span>
                            <input type="text" class="form-control datetimepicker" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="col-form-label">Source <span class="text-danger">*</span></label>
                        <select class="select">
                            <option>Select</option>
                            <option>Google</option>
                            <option>Social Media</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="col-form-label">Tags <span class="text-danger">*</span></label>
                        <input class="input-tags form-control" type="text" data-role="tagsinput" name="Label"
                            value="Collab, Rated">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="col-form-label">Priority <span class="text-danger">*</span></label>
                        <select class="select">
                            <option>Select</option>
                            <option>High</option>
                            <option>Low</option>
                            <option>Medium</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="mb-3">
                        <label class="col-form-label">Description <span class="text-danger">*</span></label>
                        <div class="summernote"></div>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-end">
                <button type="button" data-bs-dismiss="offcanvas" class="btn btn-light me-2">Cancel</button>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#create_success">Create</button>
            </div>
        </form>
    </div>

</div>
<!-- /Add New Deals -->

<!-- Edit Deals -->
<div class="offcanvas offcanvas-end offcanvas-large" tabindex="-1" id="offcanvas_edit">
    <div class="offcanvas-header border-bottom">
        <h5 class="fw-semibold">Edit Deals</h5>
        <button type="button"
            class="btn-close custom-btn-close border p-1 me-0 d-flex align-items-center justify-content-center rounded-circle"
            data-bs-dismiss="offcanvas" aria-label="Close">
            <i class="ti ti-x"></i>
        </button>
    </div>
    <div class="offcanvas-body">
        <form action="deals">
            <div class="row">
                <div class="col-md-12">
                    <div class="mb-3">
                        <label class="col-form-label">Deal Name <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" value="Collins">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <div class="d-flex align-items-center justify-content-between">
                            <label class="col-form-label">Pipeine <span class="text-danger">*</span></label>
                            <a href="" class="label-add " data-bs-toggle="offcanvas"
                                data-bs-target="#offcanvas_pipeline">
                                <i class="ti ti-square-rounded-plus"></i>
                                Add New
                            </a>
                        </div>
                        <select class="select2">
                            <option>Choose</option>
                            <option>Sales</option>
                            <option>Marketing</option>
                            <option>Calls</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="col-form-label">Status <span class="text-danger">*</span></label>
                        <select class="select2">
                            <option>Choose</option>
                            <option>Open</option>
                            <option>Lost</option>
                            <option>Won</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="mb-3">
                        <label class="col-form-label">Deal Value<span class="text-danger"> *</span></label>
                        <input class="form-control" type="text" value="$04,51,000">
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="mb-3">
                        <label class="col-form-label">Currency <span class="text-danger">*</span></label>
                        <select class="select">
                            <option>Choose</option>
                            <option selected>Dollar</option>
                            <option>Euro</option>
                            <option>Pound</option>
                            <option>Rupee</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="mb-3">
                        <label class="col-form-label">Period <span class="text-danger">*</span></label>
                        <select class="select">
                            <option>Choose</option>
                            <option>Days</option>
                            <option>Month</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="mb-3">
                        <label class="col-form-label">Period Value <span class="text-danger">*</span></label>
                        <input class="form-control" type="text">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="mb-3">
                        <label class="col-form-label">Contact <span class="text-danger">*</span></label>
                        <select class="multiple-img" multiple="multiple">
                            <option data-image="assets/img/profiles/avatar-19.jpg' %}" selected>Darlee Robertson
                            </option>
                            <option data-image="assets/img/profiles/avatar-20.jpg' %}">Sharon Roy</option>
                            <option data-image="assets/img/profiles/avatar-21.jpg' %}">Vaughan Lewis</option>
                            <option data-image="assets/img/profiles/avatar-23.jpg' %}">Jessica Louise</option>
                            <option data-image="assets/img/profiles/avatar-16.jpg' %}">Carol Thomas</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label">Project <span class="text-danger">*</span></label>
                        <select class="select" multiple="multiple">
                            <option selected>Devops Design</option>
                            <option selected>MargrateDesign</option>
                            <option selected>UI for Chat</option>
                            <option>Web Chat</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="col-form-label">Due Date <span class="text-danger">*</span></label>
                        <div class="icon-form">
                            <span class="form-icon"><i class="ti ti-calendar-check"></i></span>
                            <input type="text" class="form-control datetimepicker" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="col-form-label">Expected Closing Date <span
                                class="text-danger">*</span></label>
                        <div class="icon-form">
                            <span class="form-icon"><i class="ti ti-calendar-check"></i></span>
                            <input type="text" class="form-control datetimepicker" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="mb-3">
                        <label class="col-form-label">Assignee <span class="text-danger">*</span></label>
                        <select class="multiple-img" multiple="multiple">
                            <option data-image="assets/img/profiles/avatar-19.jpg' %}">Darlee Robertson</option>
                            <option data-image="assets/img/profiles/avatar-20.jpg' %}" selected>Sharon Roy</option>
                            <option data-image="assets/img/profiles/avatar-21.jpg' %}">Vaughan Lewis</option>
                            <option data-image="assets/img/profiles/avatar-23.jpg' %}">Jessica Louise</option>
                            <option data-image="assets/img/profiles/avatar-16.jpg' %}">Carol Thomas</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="col-form-label">Follow Up Date <span class="text-danger">*</span></label>
                        <div class="icon-form">
                            <span class="form-icon"><i class="ti ti-calendar-check"></i></span>
                            <input type="text" class="form-control datetimepicker" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="col-form-label">Source <span class="text-danger">*</span></label>
                        <select class="select">
                            <option>Select</option>
                            <option>Google</option>
                            <option>Social Media</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="col-form-label">Tags <span class="text-danger">*</span></label>
                        <input class="input-tags form-control" type="text" data-role="tagsinput" name="Label"
                            value="Collab, Rated">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="col-form-label">Priority <span class="text-danger">*</span></label>
                        <select class="select">
                            <option>Select</option>
                            <option>High</option>
                            <option>Low</option>
                            <option>Medium</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="mb-3">
                        <label class="col-form-label">Description <span class="text-danger">*</span></label>
                        <div class="summernote"></div>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-end">
                <button type="button" data-bs-dismiss="offcanvas" class="btn btn-light me-2">Cancel</button>
                <button type="button" class="btn btn-primary">Save Changes</button>

            </div>
        </form>
    </div>

</div>
<!-- /Edit Deals -->

<!-- Delete Deal -->
<div class="modal fade" id="delete_deal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
                    <div class="avatar avatar-xl bg-danger-light rounded-circle mb-3">
                        <i class="ti ti-trash-x fs-36 text-danger"></i>
                    </div>
                    <h4 class="mb-2">Remove Deal?</h4>
                    <p class="mb-0">Are you sure you want to remove <br> deal you selected.</p>
                    <div class="d-flex align-items-center justify-content-center mt-4">
                        <a href="#" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
                        <a href="deals" class="btn btn-danger">Yes, Delete it</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Deal -->

<!-- Create Deal -->
<div class="modal custom-modal fade" id="create_success" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0 m-0 justify-content-end">
                <button class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ti ti-x"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="success-message text-center">
                    <div class="success-popup-icon bg-light-blue">
                        <i class="ti ti-medal"></i>
                    </div>
                    <h3>Deal Created Successfully!!!</h3>
                    <p>View the details of deal, created</p>
                    <div class="col-lg-12 text-center modal-btn">
                        <a href="#" class="btn btn-light" data-bs-dismiss="modal">Cancel</a>
                        <a href="deals-details" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Create Deal -->

<!-- Add New Pipeline -->
<div class="offcanvas offcanvas-end offcanvas-large" tabindex="-1" id="offcanvas_pipeline">
    <div class="offcanvas-header border-bottom">
        <h4>Add New Pipeline</h4>
        <button type="button"
            class="btn-close custom-btn-close border p-1 me-0 d-flex align-items-center justify-content-center rounded-circle"
            data-bs-dismiss="offcanvas" aria-label="Close">
            <i class="ti ti-x"></i>
        </button>
    </div>
    <div class="offcanvas-body">
        <form action="deals">
            <div>
                <div class="mb-3">
                    <label class="col-form-label">Pipeline Name <span class="text-danger">*</span></label>
                    <input class="form-control" type="text">
                </div>
                <div class="mb-3">
                    <div class="pipe-title d-flex align-items-center justify-content-between">
                        <h5 class="form-title">Pipeline Stages</h5>
                        <a href="#" class="add-stage" data-bs-toggle="modal" data-bs-target="#add_stage"><i
                                class="ti ti-square-rounded-plus"></i>Add New</a>
                    </div>
                    <div class="pipeline-listing">
                        <div class="pipeline-item">
                            <p><i class="ti ti-grip-vertical"></i> Inpipeline</p>
                            <div class="action-pipeline">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#edit_stage"><i
                                        class="ti ti-edit text-blue"></i>Edit</a>
                                <a href="#" data-bs-toggle="modal" data-bs-target="#delete_stage"><i
                                        class="ti ti-trash text-danger"></i>Delete</a>
                            </div>
                        </div>
                        <div class="pipeline-item">
                            <p><i class="ti ti-grip-vertical"></i> Follow Up</p>
                            <div class="action-pipeline">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#edit_stage"><i
                                        class="ti ti-edit text-blue"></i>Edit</a>
                                <a href="#" data-bs-toggle="modal" data-bs-target="#delete_stage"><i
                                        class="ti ti-trash text-danger"></i>Delete</a>
                            </div>
                        </div>
                        <div class="pipeline-item">
                            <p><i class="ti ti-grip-vertical"></i> Schedule Service</p>
                            <div class="action-pipeline">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#edit_stage"><i
                                        class="ti ti-edit text-blue"></i>Edit</a>
                                <a href="#" data-bs-toggle="modal" data-bs-target="#delete_stage"><i
                                        class="ti ti-trash text-danger"></i>Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <h5 class="form-title">Access</h5>
                    <div class="d-flex flex-wrap access-item nav">
                        <div class="radio-btn" data-bs-toggle="tab" data-bs-target="#all">
                            <input type="radio" class="status-radio" id="all" name="status" checked="">
                            <label for="all">All</label>
                        </div>
                        <div class="radio-btn" data-bs-toggle="tab" data-bs-target="#select-person">
                            <input type="radio" class="status-radio" id="select" name="status">
                            <label for="select">Select Person</label>
                        </div>
                    </div>
                    <div class="tab-content mb-3">
                        <div class="tab-pane fade" id="select-person">
                            <div class="access-wrapper">
                                <div class="access-view">
                                    <div class="access-img">
                                        <img src="{% static 'assets/img/profiles/avatar-21.jpg' %}" alt="Image">Vaughan Lewis
                                    </div>
                                    <a href="#">Remove</a>
                                </div>
                                <div class="access-view">
                                    <div class="access-img">
                                        <img src="{% static 'assets/img/profiles/avatar-01.jpg' %}" alt="Image">Jessica Louise
                                    </div>
                                    <a href="#">Remove</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-end">
                <button type="button" data-bs-dismiss="offcanvas" class="btn btn-light me-2">Cancel</button>
                <button type="button" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>

</div>
<!-- /Add New Pipeline -->

<!-- Delete Stage -->
<div class="modal fade" id="delete_stage" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
                    <div class="avatar avatar-xl bg-danger-light rounded-circle mb-3">
                        <i class="ti ti-trash-x fs-36 text-danger"></i>
                    </div>
                    <h4 class="mb-2">Remove Stage?</h4>
                    <p class="mb-0">Are you sure you want to remove <br> stage you selected.</p>
                    <div class="d-flex align-items-center justify-content-center mt-4">
                        <a href="#" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
                        <a href="deals" class="btn btn-danger">Yes, Delete it</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Stage -->

<!-- Add New Stage -->
<div class="modal custom-modal fade" id="add_stage" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add New Stage</h5>
                <button class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ti ti-x"></i>
                </button>
            </div>
            <div class="modal-body">
                <form action="deals">
                    <div class="mb-3">
                        <label class="col-form-label">Stage Name *</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="modal-btn text-end">
                        <a href="#" class="btn btn-light" data-bs-dismiss="modal">Cancel</a>
                        <button type="submit" class="btn btn-danger">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Add New Stage -->

<!-- Edit Stage -->
<div class="modal custom-modal fade" id="edit_stage" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Stage</h5>
                <button class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ti ti-x"></i>
                </button>
            </div>
            <div class="modal-body">
                <form action="deals">
                    <div class="mb-3">
                        <label class="col-form-label">Stage Name *</label>
                        <input type="text" class="form-control" value="Inpipeline">
                    </div>
                    <div class="modal-btn text-end">
                        <a href="#" class="btn btn-light" data-bs-dismiss="modal">Cancel</a>
                        <button type="submit" class="btn btn-danger">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Edit Stage -->

<!-- Add New View -->
<div class="modal custom-modal fade" id="save_view" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add New View</h5>
                <button class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ti ti-x"></i>
                </button>
            </div>
            <div class="modal-body">
                <form action="deals">
                    <div class="mb-3">
                        <label class="col-form-label">View Name</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="modal-btn text-end">
                        <a href="#" class="btn btn-light" data-bs-dismiss="modal">Cancel</a>
                        <button type="submit" class="btn btn-danger">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Add New View -->