{% load static %}

<!-- Add Lead -->
<div class="offcanvas offcanvas-end offcanvas-large" tabindex="-1" id="offcanvas_add">
    <div class="offcanvas-header border-bottom">
        <h5 class="fw-semibold">Add New Lead</h5>
        <button type="button"
            class="btn-close custom-btn-close border p-1 me-0 d-flex align-items-center justify-content-center rounded-circle"
            data-bs-dismiss="offcanvas" aria-label="Close">
            <i class="ti ti-x"></i>
        </button>
    </div>
    <div class="offcanvas-body">
        <form method="POST" action="{% url 'add_lead' %}" enctype="multipart/form-data">
            {% csrf_token %}
            
            <div class="row">
                <div class="col-md-12">
                    <div class="mb-3">
                        <label class="col-form-label">Lead Name <span class="text-danger">*</span></label>
                        <input type="text" name="name" class="form-control">
                    </div>
                </div>
        
                <div class="col-md-12">
                    <div class="mb-3">
                        <div class="radio-wrap">
                            <label class="col-form-label">Lead Type</label>
                            <div class="d-flex flex-wrap">
                                <div class="me-2">
                                    <input type="radio" name="lead_type" class="status-radio" id="person" value="person" checked>
                                    <label for="person">Person</label>
                                </div>
                                <div>
                                    <input type="radio" name="lead_type" class="status-radio" id="organization" value="organization">
                                    <label for="organization">Organization</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="col-md-12">
                    <div class="mb-3">
                        <label class="col-form-label">Company Name</label>
                        <select class="select" name="company_name">
                            <option value="">Choose</option>
                            <option value="NovaWave LLC">NovaWave LLC</option>
                            <option value="Silver Hawk">Silver Hawk</option>
                            <option value="Summit Peak">Summit Peak</option>
                            <option value="RiverStone Venture">RiverStone Venture</option>
                            <option value="Insurance">Insurance</option>
                        </select>
                    </div>
                </div>
        
                <div class="col-md-12">
                    <div class="mb-3">
                        <label class="col-form-label">Company Image</label>
                        <input type="file" name="company_image" class="form-control">
                    </div>
                </div>
        
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="col-form-label">Value <span class="text-danger">*</span></label>
                        <input type="text" name="value" class="form-control" required>
                    </div>
                </div>
        
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="col-form-label">Currency <span class="text-danger">*</span></label>
                        <select class="select" name="currency">
                            <option value="">Select</option>
                            <option value="$">$</option>
                            <option value="€">€</option>
                        </select>
                    </div>
                </div>
        
                <div class="col-md-12">
                    <div class="row align-items-end">
                        <div class="col-md-8">
                            <div class="mb-3">
                                <label class="col-form-label">Phone <span class="text-danger">*</span></label>
                                <input type="text" name="phone" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <select class="select2" name="phone_type">
                                    <option value="">Choose</option>
                                    <option value="Work">Work</option>
                                    <option value="Home">Home</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="col-form-label">Source <span class="text-danger">*</span></label>
                        <select class="select" name="source">
                            <option value="">Choose</option>
                            <option value="Phone calls">Phone calls</option>
                            <option value="Social Media">Social Media</option>
                            <option value="Referral sites">Referral sites</option>
                            <option value="Web Analytics">Web Analytics</option>
                            <option value="Previous Purchase">Previous Purchase</option>
                        </select>
                    </div>
                </div>
        
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="col-form-label">Industry <span class="text-danger">*</span></label>
                        <select class="select" name="industry">
                            <option value="">Choose</option>
                            <option value="Retail Industry">Retail Industry</option>
                            <option value="Banking">Banking</option>
                            <option value="Hotels">Hotels</option>
                            <option value="Financial Services">Financial Services</option>
                            <option value="Insurance">Insurance</option>
                        </select>
                    </div>
                </div>
        
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="col-form-label">Owner</label>
                        <select class="select-img" name="owner">
                            <option value="Hendry Milner" selected>Hendry Milner</option>
                            <option value="Guilory Berggren">Guilory Berggren</option>
                            <option value="Jami Carlile">Jami Carlile</option>
                            <option value="Theresa Nelson">Theresa Nelson</option>
                            <option value="Smith Cooper">Smith Cooper</option>
                        </select>
                    </div>
                </div>
        
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="col-form-label">Tags</label>
                        <input class="input-tags form-control" type="text" name="tags" value="Rated">
                    </div>
                </div>
        
                <div class="col-md-12">
                    <div class="mb-3">
                        <label class="col-form-label">Description <span class="text-danger">*</span></label>
                        <textarea class="form-control" rows="5" name="description"></textarea>
                    </div>
                </div>
        
                <!-- <div class="col-md-12">
                    <div class="mb-3">
                        <label class="col-form-label">Visibility</label>
                        <div class="d-flex flex-wrap">
                            <div class="me-2">
                                <input type="radio" name="visibility" class="status-radio" id="public" value="public">
                                <label for="public">Public</label>
                            </div>
                            <div class="me-2">
                                <input type="radio" name="visibility" class="status-radio" id="private" value="private">
                                <label for="private">Private</label>
                            </div>
                        </div>
                    </div>
        
                    <div class="mb-0">
                        <label class="col-form-label">Status</label>
                        <div class="d-flex flex-wrap">
                            <div class="me-2">
                                <input type="radio" name="status" class="status-radio" id="active" value="active" checked>
                                <label for="active">Active</label>
                            </div>
                            <div>
                                <input type="radio" name="status" class="status-radio" id="inactive" value="inactive">
                                <label for="inactive">Inactive</label>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        
            <div class="d-flex align-items-center justify-content-end">
                <button type="button" data-bs-dismiss="offcanvas" class="btn btn-light me-2">Cancel</button>
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
        
    </div>

</div>
<!-- /Add Lead -->

<!-- Add Company -->
<div class="offcanvas offcanvas-end offcanvas-large" tabindex="-1" id="offcanvas_add_2">
    <div class="offcanvas-header border-bottom">
        <h5 class="fw-semibold">Add New Company</h5>
        <button type="button"
            class="btn-close custom-btn-close border p-1 me-0 d-flex align-items-center justify-content-center rounded-circle"
            data-bs-dismiss="offcanvas" aria-label="Close">
            <i class="ti ti-x"></i>
        </button>
    </div>
    <div class="offcanvas-body">
        <form action="companies">
            <div class="accordion" id="main_accordion">
                <!-- Basic Info -->
                <div class="accordion-item rounded mb-3">
                    <div class="accordion-header">
                        <a href="#"
                            class="accordion-button accordion-custom-button bg-white rounded fw-medium text-dark"
                            data-bs-toggle="collapse" data-bs-target="#basic">
                            <span class="avatar avatar-md rounded text-dark border me-2"><i
                                    class="ti ti-user-plus fs-20"></i></span>
                            Basic Info
                        </a>
                    </div>
                    <div class="accordion-collapse collapse show" id="basic" data-bs-parent="#main_accordion">
                        <div class="accordion-body border-top">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <div class="profile-upload">
                                            <div class="profile-upload-img">
                                                <span><i class="ti ti-photo"></i></span>
                                                <img src="{% static 'assets/img/profiles/avatar-20.jpg' %}" alt="img"
                                                    class="preview1">
                                                <button type="button" class="profile-remove">
                                                    <i class="ti ti-x"></i>
                                                </button>
                                            </div>
                                            <div class="profile-upload-content">
                                                <label class="profile-upload-btn">
                                                    <i class="ti ti-file-broken"></i> Upload File
                                                    <input type="file" class="input-img">
                                                </label>
                                                <p>JPG, GIF or PNG. Max size of 800K</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="col-form-label">Company Name</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <label class="col-form-label">Email <span
                                                    class="text-danger">*</span></label>
                                            <div
                                                class="status-toggle small-toggle-btn d-flex align-items-center">
                                                <span class="me-2 label-text">Email Opt Out</span>
                                                <input type="checkbox" id="user" class="check" checked="">
                                                <label for="user" class="checktoggle"></label>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="col-form-label">Phone 1 <span
                                                class="text-danger">*</span></label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="col-form-label">Phone 2</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="col-form-label">Fax</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="col-form-label">Website</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="col-form-label">Ratings</label>
                                        <div class="icon-form-end">
                                            <span class="form-icon"><i class="ti ti-star"></i></span>
                                            <input type="text" class="form-control" placeholder="4.2">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="fmb-3">
                                        <label class="col-form-label">Owner</label>
                                        <select class="select-img">
                                            <option data-image="{% static 'assets/img/profiles/avatar-14.jpg' %}" selected>
                                                Hendry Milner</option>
                                            <option data-image="{% static 'assets/img/profiles/avatar-15.jpg' %}">Guilory Berggren
                                            </option>
                                            <option data-image="{% static 'assets/img/profiles/avatar-16.jpg' %}">Jami Carlile</option>
                                            <option data-image="{% static 'assets/img/profiles/avatar-13.jpg' %}">Theresa Nelson
                                            </option>
                                            <option data-image="{% static 'assets/img/profiles/avatar-24.jpg' %}">Smith Cooper
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="col-form-label">Tags </label>
                                        <input class="input-tags form-control" type="text" data-role="tagsinput"
                                            name="Label" value="Collab">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <label class="col-form-label">Deals</label>

                                        </div>
                                        <select class="select2">
                                            <option>Choose</option>
                                            <option>Collins</option>
                                            <option>Konopelski</option>
                                            <option>Adams</option>
                                            <option>Schumm</option>
                                            <option>Wisozk</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="col-form-label">Source <span
                                                class="text-danger">*</span></label>
                                        <select class="select2">
                                            <option>Choose</option>
                                            <option>Phone Calls</option>
                                            <option>Social Media</option>
                                            <option>Referral Sites</option>
                                            <option>Web Analytics</option>
                                            <option>Previous Purchases</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="col-form-label">Industry <span
                                                class="text-danger">*</span></label>
                                        <select class="select">
                                            <option>Choose</option>
                                            <option>Retail Industry</option>
                                            <option>Banking</option>
                                            <option>Hotels</option>
                                            <option>Financial Services</option>
                                            <option>Insurance</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="col-form-label">Contacts</label>
                                        <select class="multiple-img" multiple="multiple">
                                            <option data-image="{% static 'assets/img/profiles/avatar-19.jpg' %}">Darlee
                                                Robertson</option>
                                            <option data-image="{% static 'assets/img/profiles/avatar-20.jpg' %}" selected>
                                                Sharon Roy</option>
                                            <option data-image="{% static 'assets/img/profiles/avatar-21.jpg' %}">Vaughan Lewis
                                            </option>
                                            <option data-image="{% static 'assets/img/profiles/avatar-23.jpg' %}">Jessica Louise
                                            </option>
                                            <option data-image="{% static 'assets/img/profiles/avatar-16.jpg' %}">Carol Thomas
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="col-form-label">Currency <span
                                                class="text-danger">*</span></label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="col-form-label">Language <span
                                                class="text-danger">*</span></label>
                                        <select class="select">
                                            <option>Choose</option>
                                            <option>English</option>
                                            <option>Arabic</option>
                                            <option>French</option>
                                            <option>German</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-0">
                                        <label class="col-form-label">Description <span
                                                class="text-danger">*</span></label>
                                        <textarea class="form-control" rows="5"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Basic Info -->

                <!-- Address Info -->
                <div class="accordion-item border-top rounded mb-3">
                    <div class="accordion-header">
                        <a href="#"
                            class="accordion-button accordion-custom-button rounded bg-white fw-medium text-dark"
                            data-bs-toggle="collapse" data-bs-target="#address">
                            <span class="avatar avatar-md rounded text-dark border me-2"><i
                                    class="ti ti-map-pin-cog fs-20"></i></span>
                            Address Info
                        </a>
                    </div>
                    <div class="accordion-collapse collapse" id="address" data-bs-parent="#main_accordion">
                        <div class="accordion-body border-top">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="col-form-label">Street Address </label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="col-form-label">Country</label>
                                        <select class="select">
                                            <option>Choose</option>
                                            <option>USA</option>
                                            <option>Canada</option>
                                            <option>Germany</option>
                                            <option>France</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="col-form-label">State / Province </label>
                                        <select class="select">
                                            <option>Choose</option>
                                            <option>California</option>
                                            <option>New York</option>
                                            <option>Texas</option>
                                            <option>Florida</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3 mb-md-0">
                                        <label class="col-form-label">City </label>
                                        <select class="select">
                                            <option>Choose</option>
                                            <option>Los Angeles</option>
                                            <option>San Diego</option>
                                            <option>Fresno</option>
                                            <option>San Francisco</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-0">
                                        <label class="col-form-label">Zipcode </label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Address Info -->

                <!-- Social Profile -->
                <div class="accordion-item border-top rounded mb-3">
                    <div class="accordion-header">
                        <a href="#"
                            class="accordion-button accordion-custom-button rounded bg-white fw-medium text-dark"
                            data-bs-toggle="collapse" data-bs-target="#social">
                            <span class="avatar avatar-md rounded text-dark border me-2"><i
                                    class="ti ti-social fs-20"></i></span>
                            Social Profile
                        </a>
                    </div>
                    <div class="accordion-collapse collapse" id="social" data-bs-parent="#main_accordion">
                        <div class="accordion-body border-top">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="col-form-label">Facebook</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="col-form-label">Skype </label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="col-form-label">Linkedin </label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="col-form-label">Twitter</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3 mb-md-0">
                                        <label class="col-form-label">Whatsapp</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-0">
                                        <label class="col-form-label">Instagram</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Social Profile -->

                <!-- Access -->
                <div class="accordion-item border-top rounded mb-3">
                    <div class="accordion-header">
                        <a href="#"
                            class="accordion-button accordion-custom-button rounded bg-white fw-medium text-dark"
                            data-bs-toggle="collapse" data-bs-target="#access-info">
                            <span class="avatar avatar-md rounded text-dark border me-2"><i
                                    class="ti ti-accessible fs-20"></i></span>
                            Access
                        </a>
                    </div>
                    <div class="accordion-collapse collapse" id="access-info" data-bs-parent="#main_accordion">
                        <div class="accordion-body border-top">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="col-form-label">Visibility</label>
                                        <div class="d-flex flex-wrap">
                                            <div class="me-2">
                                                <input type="radio" class="status-radio" id="public"
                                                    name="visible">
                                                <label for="public">Public</label>
                                            </div>
                                            <div class="me-2">
                                                <input type="radio" class="status-radio" id="private"
                                                    name="visible">
                                                <label for="private">Private</label>
                                            </div>
                                            <div data-bs-toggle="modal" data-bs-target="#access_view">
                                                <input type="radio" class="status-radio" id="people"
                                                    name="visible">
                                                <label for="people">Select People</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-0">
                                        <label class="col-form-label">Status</label>
                                        <div class="d-flex flex-wrap">
                                            <div class="me-2">
                                                <input type="radio" class="status-radio" id="active"
                                                    name="status" checked="">
                                                <label for="active">Active</label>
                                            </div>
                                            <div>
                                                <input type="radio" class="status-radio" id="inactive"
                                                    name="status">
                                                <label for="inactive">Inactive</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Access -->
            </div>
            <div class="d-flex align-items-center justify-content-end">
                <button type="button" data-bs-dismiss="offcanvas" class="btn btn-light me-2">Cancel</button>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#create_success_2">Create</button>
            </div>
        </form>
    </div>
</div>
<!-- /Add Company -->

<!-- Edit Lead -->
<div class="offcanvas offcanvas-end offcanvas-large" tabindex="-1" id="offcanvas_edit">
    <div class="offcanvas-header border-bottom">
        <h5 class="fw-semibold">Edit Lead</h5>
        <button type="button"
            class="btn-close custom-btn-close border p-1 me-0 d-flex align-items-center justify-content-center rounded-circle"
            data-bs-dismiss="offcanvas" aria-label="Close">
            <i class="ti ti-x"></i>
        </button>
    </div>
    <div class="offcanvas-body">
        <form action="contacts">
            <div class="row">
                <div class="col-md-12">
                    <div class="mb-3">
                        <label class="col-form-label">Lead Name <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" value="Collins">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="mb-3">
                        <div class="radio-wrap">
                            <label class="col-form-label">Lead Type</label>
                            <div class="d-flex flex-wrap">
                                <div class="me-2">
                                    <input type="radio" class="status-radio" id="person" name="leave" checked>
                                    <label for="person">Person</label>
                                </div>
                                <div>
                                    <input type="radio" class="status-radio" id="Organization" name="leave">
                                    <label for="Organization">Organization</label>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-12">
                    <div class="mb-3">
                        <div class="d-flex justify-content-between align-items-center">
                            <label class="col-form-label">Company Name</label>
                            <a href="" class="label-add " data-bs-toggle="offcanvas"
                                data-bs-target="#offcanvas_add_2">
                                <i class="ti ti-square-rounded-plus"></i>
                                Add New
                            </a>
                        </div>
                        <select class="select">
                            <option>Choose</option>
                            <option selected>NovaWave LLC</option>
                            <option>Silver Hawk</option>
                            <option>Summit Peak</option>
                            <option>RiverStone Ventur</option>
                            <option>Insurance</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="col-form-label">Value<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" value="10">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="col-form-label">Currency <span class="text-danger">*</span></label>
                        <select class="select">
                            <option>Choose</option>
                            <option selected>Dollar</option>
                            <option>Euro</option>
                            <option>Pound</option>
                            <option>Rupee</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row align-items-end">
                        <div class="col-md-8">
                            <div class="mb-3">
                                <label class="col-form-label">Phone<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" value="+1 875455453">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3  d-flex align-items-center mt-4">
                                <select class="select2">
                                    <option>Choose</option>
                                    <option selected>Work</option>
                                    <option>Home</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="col-form-label">Source <span class="text-danger">*</span></label>
                        <select class="select">
                            <option>Choose</option>
                            <option selected>Phone calls</option>
                            <option>Social Media</option>
                            <option>Referral sites</option>
                            <option>Web Analytics</option>
                            <option>Previous Purchase</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="col-form-label">Industry <span class="text-danger">*</span></label>
                        <select class="select">
                            <option>Choose</option>
                            <option>Retail Industry</option>
                            <option selected>Banking</option>
                            <option>Hotels</option>
                            <option>Financial Services</option>
                            <option>Insurance</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="col-form-label">Owner</label>
                        <select class="select-img">
                            <option data-image="{% static 'assets/img/profiles/avatar-14.jpg' %}" selected>Hendry Milner</option>
                            <option data-image="{% static 'assets/img/profiles/avatar-15.jpg' %}">Guilory Berggren</option>
                            <option data-image="{% static 'assets/img/profiles/avatar-16.jpg' %}">Jami Carlile</option>
                            <option data-image="{% static 'assets/img/profiles/avatar-13.jpg' %}">Theresa Nelson</option>
                            <option data-image="{% static 'assets/img/profiles/avatar-24.jpg' %}">Smith Cooper</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="col-form-label">Tags </label>
                        <input class="input-tags form-control" type="text" data-role="tagsinput" name="Label"
                            value="Rated">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="mb-3">
                        <label class="col-form-label">Description <span class="text-danger">*</span></label>
                        <textarea class="form-control" rows="5"></textarea>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="mb-3">
                        <label class="col-form-label">Visibility</label>
                        <div class="d-flex flex-wrap">
                            <div class="me-2">
                                <input type="radio" class="status-radio" id="public" name="visible">
                                <label for="public">Public</label>
                            </div>
                            <div class="me-2">
                                <input type="radio" class="status-radio" id="private" name="visible">
                                <label for="private">Private</label>
                            </div>
                            <div data-bs-toggle="modal" data-bs-target="#access_view">
                                <input type="radio" class="status-radio" id="people" name="visible">
                                <label for="people">Select People</label>
                            </div>
                        </div>
                    </div>
                    <div class="mb-0">
                        <label class="col-form-label">Status</label>
                        <div class="d-flex flex-wrap">
                            <div class="me-2">
                                <input type="radio" class="status-radio" id="active" name="status" checked="">
                                <label for="active">Active</label>
                            </div>
                            <div>
                                <input type="radio" class="status-radio" id="inactive" name="status">
                                <label for="inactive">Inactive</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-end">
                <button type="button" data-bs-dismiss="offcanvas" class="btn btn-light me-2">Cancel</button>
                <button type="button" class="btn btn-primary">Save Changes</button>
            </div>
        </form>
    </div>

</div>
<!-- /Edit Lead -->

<!-- Delete Lead -->
<div class="modal fade" id="delete_lead" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
                    <div class="avatar avatar-xl bg-danger-light rounded-circle mb-3">
                        <i class="ti ti-trash-x fs-36 text-danger"></i>
                    </div>
                    <h4 class="mb-2">Remove Lead?</h4>
                    <p class="mb-0">Are you sure you want to remove <br> lead you selected.</p>
                    <div class="d-flex align-items-center justify-content-center mt-4">
                        <a href="#" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
                        <a href="leads" class="btn btn-danger">Yes, Delete it</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Lead -->

<!-- Create Lead -->
<div class="modal custom-modal fade" id="create_success" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0 m-0 justify-content-end">
                <button class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ti ti-x"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="success-message text-center">
                    <div class="success-popup-icon bg-light-blue">
                        <i class="ti ti-building"></i>
                    </div>
                    <h3>Lead Created Successfully!!!</h3>
                    <p>View the details of lead, created</p>
                    <div class="col-lg-12 text-center modal-btn">
                        <a href="#" class="btn btn-light" data-bs-dismiss="modal">Cancel</a>
                        <a href="leads-details" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Create Lead -->

<!-- Create Company -->
<div class="modal custom-modal fade" id="create_success_2" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0 m-0 justify-content-end">
                <button class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ti ti-x"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="success-message text-center">
                    <div class="success-popup-icon bg-light-blue">
                        <i class="ti ti-building"></i>
                    </div>
                    <h3>Company Created Successfully!!!</h3>
                    <p>View the details of company, created</p>
                    <div class="col-lg-12 text-center modal-btn">
                        <a href="#" class="btn btn-light" data-bs-dismiss="modal">Cancel</a>
                        <a href="company-details" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Create Company -->

<!-- Add New View -->
<div class="modal custom-modal fade" id="save_view" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add New View</h5>
                <button class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ti ti-x"></i>
                </button>
            </div>
            <div class="modal-body">
                <form action="leads">
                    <div class="mb-3">
                        <label class="col-form-label">View Name</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="modal-btn text-end">
                        <a href="#" class="btn btn-light" data-bs-dismiss="modal">Cancel</a>
                        <button type="submit" class="btn btn-danger">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Add New View -->

<!-- Access -->
<div class="modal custom-modal fade" id="access_view" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Access For</h5>
                <button class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ti ti-x"></i>
                </button>
            </div>
            <div class="modal-body">
                <form action="leads">
                    <div class="mb-2 icon-form">
                        <span class="form-icon"><i class="ti ti-search"></i></span>
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <div class="access-wrap">
                        <ul>
                            <li class="select-people-checkbox">
                                <label class="checkboxs">
                                    <input type="checkbox">
                                    <span class="checkmarks"></span>
                                    <span class="people-profile">
                                        <img src="{% static 'assets/img/profiles/avatar-19.jpg' %}" alt="">
                                        <a href="#">Darlee Robertson</a>
                                    </span>
                                </label>
                            </li>
                            <li class="select-people-checkbox">
                                <label class="checkboxs">
                                    <input type="checkbox">
                                    <span class="checkmarks"></span>
                                    <span class="people-profile">
                                        <img src="{% static 'assets/img/profiles/avatar-20.jpg' %}" alt="">
                                        <a href="#">Sharon Roy</a>
                                    </span>
                                </label>
                            </li>
                            <li class="select-people-checkbox">
                                <label class="checkboxs">
                                    <input type="checkbox">
                                    <span class="checkmarks"></span>
                                    <span class="people-profile">
                                        <img src="{% static 'assets/img/profiles/avatar-21.jpg' %}" alt="">
                                        <a href="#">Vaughan Lewis</a>
                                    </span>
                                </label>
                            </li>
                            <li class="select-people-checkbox">
                                <label class="checkboxs">
                                    <input type="checkbox">
                                    <span class="checkmarks"></span>
                                    <span class="people-profile">
                                        <img src="{% static 'assets/img/profiles/avatar-01.jpg' %}" alt="">
                                        <a href="#">Jessica Louise</a>
                                    </span>
                                </label>
                            </li>
                            <li class="select-people-checkbox">
                                <label class="checkboxs">
                                    <input type="checkbox">
                                    <span class="checkmarks"></span>
                                    <span class="people-profile">
                                        <img src="{% static 'assets/img/profiles/avatar-16.jpg' %}" alt="">
                                        <a href="#">Carol Thomas</a>
                                    </span>
                                </label>
                            </li>
                            <li class="select-people-checkbox">
                                <label class="checkboxs">
                                    <input type="checkbox">
                                    <span class="checkmarks"></span>
                                    <span class="people-profile">
                                        <img src="{% static 'assets/img/profiles/avatar-22.jpg' %}" alt="">
                                        <a href="#">Dawn Mercha</a>
                                    </span>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="modal-btn text-end">
                        <a href="#" class="btn btn-light" data-bs-dismiss="modal">Cancel</a>
                        <button type="submit" class="btn btn-primary">Confirm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Access -->