{% load static %}

<!-- Add New Task -->
<div class="offcanvas offcanvas-end offcanvas-large" tabindex="-1" id="offcanvas_add">
  <div class="offcanvas-header border-bottom">
    <h4>Add New Task</h4>
    <button type="button" class="btn-close custom-btn-close border p-1 me-0 d-flex align-items-center justify-content-center rounded-circle" data-bs-dismiss="offcanvas" aria-label="Close"><i class="ti ti-x"></i></button>
  </div>
  <div class="offcanvas-body">
    <form action="tasks">
      <div>
        <div class="row">
          <div class="col-md-12">
            <div class="mb-3">
              <label class="col-form-label">Title <span class="text-danger">*</span></label>
              <input type="text" class="form-control" />
            </div>
            <div class="mb-3">
              <label class="col-form-label">Category</label>
              <select class="select">
                <option>Choose</option>
                <option>Calls</option>
                <option>Email</option>
                <option>Email</option>
                <option>Meeting</option>
              </select>
            </div>
            <div class="mb-3">
              <label class="col-form-label">Responsible Persons <span class="text-danger">*</span></label>
              <select class="multiple-img" multiple="multiple">
                <option data-image="{% static 'assets/img/profiles/avatar-19.jpg' %}" selected>Darlee Robertson</option>
                <option data-image="{% static 'assets/img/profiles/avatar-20.jpg' %}">Sharon Roy</option>
                <option data-image="{% static 'assets/img/profiles/avatar-21.jpg' %}">Vaughan Lewis</option>
                <option data-image="{% static 'assets/img/profiles/avatar-23.jpg' %}">Jessica Louise</option>
                <option data-image="{% static 'assets/img/profiles/avatar-16.jpg' %}">Carol Thomas</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <label class="col-form-label">Start Date <span class="text-danger">*</span></label>
            <div class="mb-3 icon-form">
              <span class="form-icon"><i class="ti ti-calendar-check"></i></span>
              <input type="text" class="form-control datetimepicker" />
            </div>
          </div>
          <div class="col-md-6">
            <label class="col-form-label">Due Date <span class="text-danger">*</span></label>
            <div class="mb-3 icon-form">
              <span class="form-icon"><i class="ti ti-calendar-check"></i></span>
              <input type="text" class="form-control datetimepicker" />
            </div>
          </div>
          <div class="col-md-12">
            <div class="mb-3">
              <label class="col-form-label">Tags <span class="text-danger">*</span></label>
              <input class="input-tags form-control" type="text" data-role="tagsinput" name="Label" value="Promotion, Collab" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-3">
              <label class="col-form-label">Priority</label>
              <div class="select-priority">
                <span class="select-icon"><i class="ti ti-square-rounded-filled"></i></span>
                <select class="select">
                  <option>Select</option>
                  <option>High</option>
                  <option>Low</option>
                  <option>Medium</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-3">
              <label class="col-form-label">Status</label>
              <select class="select">
                <option selected>Active</option>
                <option>Inactive</option>
              </select>
            </div>
          </div>
          <div class="col-md-12">
            <div class="mb-3">
              <label class="col-form-label">Description <span class="text-danger">*</span></label>
              <div class="summernote"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-end">
        <button type="button" data-bs-dismiss="offcanvas" class="btn btn-light me-2">Cancel</button>
        <button type="button" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>
</div>
<!-- /Add New Task -->

<!-- Edit Task -->
<div class="offcanvas offcanvas-end offcanvas-large" tabindex="-1" id="offcanvas_edit">
  <div class="offcanvas-header border-bottom">
    <h4>Edit Task</h4>
    <button type="button" class="btn-close custom-btn-close border p-1 me-0 d-flex align-items-center justify-content-center rounded-circle" data-bs-dismiss="offcanvas" aria-label="Close"><i class="ti ti-x"></i></button>
  </div>
  <div class="offcanvas-body">
    <form action="tasks">
      <div>
        <div class="row">
          <div class="col-md-12">
            <div class="mb-3">
              <label class="col-form-label">Title <span class="text-danger">*</span></label>
              <input type="text" class="form-control" value="Add a form to Update Task" />
            </div>
            <div class="mb-3">
              <label class="col-form-label">Category</label>
              <select class="select">
                <option>Choose</option>
                <option>Calls</option>
                <option>Email</option>
                <option>Email</option>
                <option>Meeting</option>
              </select>
            </div>
            <div class="mb-3">
              <label class="col-form-label">Responsible Persons <span class="text-danger">*</span></label>
              <select class="multiple-img" multiple="multiple">
                <option data-image="{% static 'assets/img/profiles/avatar-19.jpg' %}" selected>Darlee Robertson</option>
                <option data-image="{% static 'assets/img/profiles/avatar-20.jpg' %}">Sharon Roy</option>
                <option data-image="{% static 'assets/img/profiles/avatar-21.jpg' %}">Vaughan Lewis</option>
                <option data-image="{% static 'assets/img/profiles/avatar-23.jpg' %}">Jessica Louise</option>
                <option data-image="{% static 'assets/img/profiles/avatar-16.jpg' %}">Carol Thomas</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <label class="col-form-label">Start Date <span class="text-danger">*</span></label>
            <div class="mb-3 icon-form">
              <span class="form-icon"><i class="ti ti-calendar-check"></i></span>
              <input type="text" class="form-control datetimepicker" />
            </div>
          </div>
          <div class="col-md-6">
            <label class="col-form-label">Due Date <span class="text-danger">*</span></label>
            <div class="mb-3 icon-form">
              <span class="form-icon"><i class="ti ti-calendar-check"></i></span>
              <input type="text" class="form-control datetimepicker" />
            </div>
          </div>
          <div class="col-md-12">
            <div class="mb-3">
              <label class="col-form-label">Tags <span class="text-danger">*</span></label>
              <input class="input-tags form-control" type="text" data-role="tagsinput" name="Label" value="Promotion, Collab" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-3">
              <label class="col-form-label">Priority</label>
              <div class="select-priority">
                <span class="select-icon"><i class="ti ti-square-rounded-filled"></i></span>
                <select class="select">
                  <option>Select</option>
                  <option>High</option>
                  <option>Low</option>
                  <option>Medium</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-3">
              <label class="col-form-label">Status</label>
              <select class="select">
                <option selected>Active</option>
                <option>Inactive</option>
              </select>
            </div>
          </div>
          <div class="col-md-12">
            <div class="mb-3">
              <label class="col-form-label">Description <span class="text-danger">*</span></label>
              <div class="summernote"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-end">
        <button type="button" data-bs-dismiss="offcanvas" class="btn btn-light me-2">Cancel</button>
        <button type="button" class="btn btn-primary">Save Changes</button>
      </div>
    </form>
  </div>
</div>
<!-- /Edit Task -->

<!-- Delete Task -->
<div class="modal fade" id="delete_activity" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="text-center">
          <div class="avatar avatar-xl bg-danger-light rounded-circle mb-3">
            <i class="ti ti-trash-x fs-36 text-danger"></i>
          </div>
          <h4 class="mb-2">Remove Task?</h4>
          <p class="mb-0">
            Are you sure you want to remove <br /> task you selected.
          </p>
          <div class="d-flex align-items-center justify-content-center mt-4">
            <a href="#" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
            <a href="tasks" class="btn btn-danger">Yes, Delete it</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Delete Task -->

<!-- Add New View -->
<div class="modal custom-modal fade" id="save_view" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add New View</h5>
        <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="ti ti-x"></i></button>
      </div>
      <div class="modal-body">
        <form action="campaign">
          <div class="mb-3">
            <label class="col-form-label">View Name</label>
            <input type="text" class="form-control" />
          </div>
          <div class="modal-btn text-end">
            <a href="#" class="btn btn-light" data-bs-dismiss="modal">Cancel</a>
            <button type="submit" class="btn btn-danger">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /Add New View -->
