<!-- Add Tax Rate -->
<div class="modal fade" id="add_tax" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Tax Rate</h5>
        <div class="d-flex align-items-center">
          <div class="status-toggle me-2">
            <input type="checkbox" id="toggle" class="check" checked="" />
            <label for="toggle" class="checktoggle"></label>
          </div>
          <button class="btn-close custom-btn-close border p-1 me-0 text-dark" data-bs-dismiss="modal" aria-label="Close"><i class="ti ti-x"></i></button>
        </div>
      </div>
      <form action="{% url 'tax_rates' %}">
        <div class="modal-body">
          <div class="mb-3">
            <label class="col-form-label">Name <span class="text-danger">*</span></label>
            <input type="text" class="form-control" />
          </div>
          <div class="mb-0">
            <label class="col-form-label">Tax Rate % <span class="text-danger">*</span></label>
            <input type="text" class="form-control" />
          </div>
        </div>
        <div class="modal-footer">
          <div class="d-flex align-items-center justify-content-end m-0">
            <a href="#" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- /Add Tax Rate -->

<!-- Edit Tax Rate -->
<div class="modal fade" id="edit_tax" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Tax Rate</h5>
        <div class="d-flex align-items-center">
          <div class="status-toggle me-2">
            <input type="checkbox" id="toggle1" class="check" checked="" />
            <label for="toggle1" class="checktoggle"></label>
          </div>
          <button class="btn-close custom-btn-close border p-1 me-0 text-dark" data-bs-dismiss="modal" aria-label="Close"><i class="ti ti-x"></i></button>
        </div>
      </div>
      <form action="{% url 'tax_rates' %}">
        <div class="modal-body">
          <div class="mb-3">
            <label class="col-form-label">Name <span class="text-danger">*</span></label>
            <input type="text" class="form-control" value="VAT" />
          </div>
          <div class="mb-0">
            <label class="col-form-label">Tax Rate % <span class="text-danger">*</span></label>
            <input type="text" class="form-control" value="16" />
          </div>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn btn-light" data-bs-dismiss="modal">Cancel</a>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- /Edit Tax Rate -->
