{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
  <div class="page-wrapper">
    <div class="content">
      <div class="row">
        <div class="col-md-12">
          <!-- Page Header -->
          <div class="page-header">
            <div class="row align-items-center">
              <div class="col-8">
                <h4 class="page-title">Settings</h4>
              </div>
              <div class="col-4 text-end">
                <div class="head-icons">
                  <a href="{% url 'tax_rates' %}" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Refresh"><i class="ti ti-refresh-dot"></i></a>
                  <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Collapse" id="collapse-header"><i class="ti ti-chevrons-up"></i></a>
                </div>
              </div>
            </div>
          </div>
          <!-- /Page Header -->

          <!-- Settings Menu -->
          {% block settingstab %}
            {% include 'pages/settings/settings-tab.html' %}
          {% endblock settingstab %}
          <!-- /Settings Menu -->

          <div class="row">
            {% block financialsidebar %}
              {% include 'pages/settings/financial-settings/financial-sidebar.html' %}
            {% endblock financialsidebar %}

            <div class="col-xl-9 col-lg-12">
              <!-- Settings Info -->
              <div class="card">
                <div class="card-body pb-0">
                  <div class="d-flex align-items-center justify-content-between mb-4">
                    <h4 class="fs-20">Tax Rates</h4>
                    <a href="javascript:void(0)" class="btn btn-sm btn-icon border rounded" data-bs-toggle="modal" data-bs-target="#add_tax"><i class="ti ti-plus"></i></a>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="mb-3">
                        <label class="col-form-label">VAT</label>
                        <div class="icon-form-end">
                          <a href="#" data-bs-toggle="modal" data-bs-target="#edit_tax"><span class="form-icon"><i class="ti ti-edit"></i></span></a>
                          <input type="text" class="form-control" value="16%" />
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="mb-3">
                        <label class="col-form-label">GST</label>
                        <div class="icon-form-end">
                          <a href="#" data-bs-toggle="modal" data-bs-target="#edit_tax"><span class="form-icon"><i class="ti ti-edit"></i></span></a>
                          <input type="text" class="form-control" value="14%" />
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="mb-3">
                        <label class="col-form-label">HST</label>
                        <div class="icon-form-end">
                          <a href="#" data-bs-toggle="modal" data-bs-target="#edit_tax"><span class="form-icon"><i class="ti ti-edit"></i></span></a>
                          <input type="text" class="form-control" value="12%" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /Settings Info -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% block tax_rates_modal %}
    {% include 'pages/modal/tax-rates-modal.html' %}
  {% endblock tax_rates_modal %}
{% endblock content  %}
